html {
	background: #428bca url('../image/background.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: none;
	margin-top: 75px;
}

footer {
	margin-top: 15px;
	padding-top: 15px;
	color: #000;
	border-top: 1px solid #000;
}

footer a {
	color: #D2E8FC;
}

.ui-state-highlight {
	border: 2px dashed #ccc;
	border-radius: 5px;
	height: 80px;
	margin-bottom: 15px;
}

.shadow {
  -moz-box-shadow:    1px 1px 0px 0px #ddd;
  -webkit-box-shadow: 1px 1px 0px 0px #ddd;
  box-shadow:         1px 1px 0px 0px #ddd;
}

.one-edge-shadow-slim {
	-webkit-box-shadow: 0 4px 6px -6px #555;
	   -moz-box-shadow: 0 4px 6px -6px #555;
	        box-shadow: 0 4px 6px -6px #555;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 6px 6px -6px #555;
	   -moz-box-shadow: 0 6px 6px -6px #555;
	        box-shadow: 0 6px 6px -6px #555;
}

.todo-task {
	border-radius: 5px;
	background: #f5f5f5;
	margin: 0 0 10px 0;
	padding: 10px;
	z-index: 100;
}

.todo-task:last-child {
	margin: 0;
}

.todo-task:active {
	cursor: move;
}

.todo-task > .task-header {
	font-weight: bold;

	min-height: 20px;
}

.todo-task > .task-date {
	font-size: small;
	font-style: italic;

	min-height: 20px;
}

.todo-task:hover > .task-description {
	/* display: block; */
}

.todo-task > .task-description {
	/* display: none; */
	font-size: 12px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	min-height: 20px;
}

.task-list {
	min-height: 20px;
}

.panel {
	background-color: rgba(255, 255, 255, 0.75);
	border: 0;
}

.panel-body {
	padding: 10px;
}

.panel-default > .panel-heading {
	background-color: rgba(255, 255, 255, 0.50);
}

.navbar-default {
	background-color: rgba(255, 255, 255, 0.50) !important;
	border: 0;
}

textarea {
	max-width: 100%;
	min-height: 150px;
}

#delete-div {
	border-radius: 5px;
	height: 150px;
	line-height: 150px;
	text-align: center;

	color: #555;
	background-color: rgba(255, 255, 255, 0.50) !important;
	border: 3px dashed #fff;

	z-index: 0;
}

#backup {
	display: none;
}